<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Product extension config</title>
        <input-field>
            <name>email</name>
            <placeholder>example@example.com</placeholder>
            <helpText>Please give your email</helpText>
            <defaultValue>admin@example.com</defaultValue>
        </input-field>
    </card>
</config>


